.et_pb_section {
    min-height: 500px;
}

.interior-container {
    position: relative;
    width: 33%;
    display: inline-block;
}

.interior-image {
    display: block;
    width: 100%;
    height: auto;
}

.interior-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(0,0,0,0.6);
}

.interior-container:hover .interior-overlay {
    opacity: 1;
}

.interior-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}

.interior-text a, .interior-text a:visited{
    color: white;
}

.language-switcher{
    list-style-type: none;
}

.language-switcher ul{
    list-style-type: none;
}

.language-switcher ul li{
    display: inline-block;
}